body {                                                                                                                                                                                                            
    background-color: #808080;                                                                                                                                                                                   
    background-size: cover;                                                                                                                                                                                       
    font-family: Verdana;                                                                                                                                                                                         
}                                                                                                                                                                                                                 
                                                                                                                                                                                                                  
.login-block {                                                                                                                                                                                                    
    width: 320px;                                                                                                                                                                                                 
    padding: 20px;                                                                                                                                                                                                
    background: #fff;                                                                                                                                                                                             
    border-radius: 5px;                                                                                                                                                                                           
    border-top: 5px solid #ff656c;                                                                      
    margin: 0 auto;                                                                                     
    position: absolute;                                                                                 
    top: 50%;                                                                                           
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Verdana;
    padding: 0 10px 0 10px;
    outline: none;
}



.login-block input:active, .login-block input:focus {
    border: 1px solid #ff656c;
}

.login-block button {
    width: 100%;
    height: 40px;                                                                                                   
    background: #ff656c;                                                                                                                                                                                        
    box-sizing: border-box;                                                 
    border-radius: 5px;                                                                                                                                                                                            
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Verdana;
    outline: none;
    cursor: pointer;
}
 
.login-block button:hover {
    background: #ff7b81;
}
